$fontPlay: 'Play', sans-serif;
$fontAlegreya: 'Alegreya Sans', sans-serif;
$containerWidth: 940px;
$baseFontsize: 18px;

$tablets: 768px;
$phones: 480px;

$colorBlack: #292929;
$colorGrey: #f5f5f5;
$colorRed: #E01F3D;

@import 'layout/media';
@import 'layout/fonts';
@import 'layout/normalize';
@import 'layout/base';
@import 'layout/btn';

@import 'blocks/slider';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/contacts';
@import 'blocks/hamburder';
@import 'blocks/logo';
@import 'blocks/features';
@import 'blocks/why';
@import 'blocks/reviews';
@import 'blocks/order';
@import 'blocks/preview';
@import 'blocks/radio';
@import 'blocks/team';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/phone-number';