.reviews {
    background: white;
}
.reviews__header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.reviews__header-title {
    margin-bottom: rem(32px);

    @include phones {
        margin-bottom: rem(26px);
    }
}

.review {
    background: #F8FAF9;
    display: flex;
    padding: rem(42px);
    margin-bottom: rem(15px);

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: rem(56px) rem(24px) rem(40px);
        margin-bottom: rem(30px);
    }

    @include phones {
        padding: rem(56px) rem(30px) rem(36px) rem(25px);
        margin-bottom: rem(44px);
    }
}

.review__content {
    padding-top: rem(34px);

    @include phones {
        padding-top: rem(21px);
    }
}
.review__img-box {
    width: rem(253px);
    height: rem(264px);
    flex-shrink: 0;
    margin-right: rem(39px);
    overflow: hidden;

    @include tablets {
        width: rem(130px);
        height: rem(130px);
        margin-right: rem(0px);
    }
}

.review__img {
    max-width: 100%;
    height: auto;
}

.review__header {
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: rem(27px);

    @include tablets {
        margin-bottom: rem(16px);
    }

    @include phones {
        margin-bottom: rem(12px);
    }

}
.review__text {
    font-size: rem(16px);
    line-height: rem(19px);
    color: #666;
    margin-bottom: rem(38px);
    max-width: rem(457px);

    @include tablets {
        max-width: rem(687px);
        margin-bottom: rem(16px);
    }

    @include phones {
        margin-bottom: rem(12px);
    }
}
.review__name {
    font-weight: 700;
    font-size: rem(18px);
    line-height: rem(21px);

    @include tablets {
        line-height: rem(24px);
        font-weight: 400;
    }
}

.feedback__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(6px);

    @include phones {
        gap: rem(10px);
    }
}

.feedback__item {
    margin-right: rem(6px);
    position: relative;


    &--active, &:hover {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            border: rem(4px) solid #E01F3D;
        }
    }
}

.feedback__link {
    width: rem(74px);
    height: rem(74px);
    display: block; 
    border-radius: 50%;
    overflow: hidden;

    @include phones {
        width: rem(64px);
        height: rem(64px);
    }
}

.feedback__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}